@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">@Klinik.Resources.UIMessages.LockedOut</h1>
    <h2 class="text-danger">@Klinik.Resources.UIMessages.ThisAccountLocked</h2>
</hgroup>
